<div class="col-md-6 col-sm-6 col-xs-6">
  <div class="item-product item-product5 text-center">
    <span class="sale-item">sale</span>
    <div class="product-thumb zoom-rotate">
      <a href="/admin/products" class="advs-thumb-link">
      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </a>
      <a href="/admin/products" class="quickview-link"><i class="fas fa-eye"></i></a>
      <div class="product-extra-link clearfix">
        <a href="/admin/products" class="addcart-link pull-left"><span>Add to cart</span></a>
        <a href="/admin/products" class="wishlist-link pull-right"><i class="far fa-heart"></i></a>
      </div>
    </div>
    <div class="product-price">
      <del>$96.00</del>
      <ins class="font-bold color">$69.00</ins>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="item-product item-product5 text-center">
        <span class="sale-item">sale</span>
        <div class="product-thumb zoom-rotate">
          <a href="/admin/products" class="advs-thumb-link">
          {{ 'product-2' | placeholder_svg_tag: 'placeholder-svg' }}
          </a>
          <a href="/admin/products" class="quickview-link"><i class="fas fa-eye"></i></a>
          <div class="product-extra-link clearfix">
            <a href="/admin/products" class="addcart-link pull-left"><span>Add to cart</span></a>
            <a href="/admin/products" class="wishlist-link pull-right"><i class="far fa-heart"></i></a>
          </div>
        </div>
        <div class="product-price">
          <del>$96.00</del>
          <ins class="font-bold color">$69.00</ins>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="item-product item-product5 text-center">
        <span class="sale-item">sale</span>
        <div class="product-thumb zoom-rotate">
          <a href="/admin/products" class="advs-thumb-link">
          {{ 'product-3' | placeholder_svg_tag: 'placeholder-svg' }}
          </a>
          <a href="/admin/products" class="quickview-link"><i class="fas fa-eye"></i></a>
          <div class="product-extra-link clearfix">
            <a href="/admin/products" class="addcart-link pull-left"><span>Add to cart</span></a>
            <a href="/admin/products" class="wishlist-link pull-right"><i class="far fa-heart"></i></a>
          </div>
        </div>
        <div class="product-price">
          <del>$96.00</del>
          <ins class="font-bold color">$69.00</ins>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6 col-sm-6 col-xs-6">
  <div class="row">
    <div class="col-md-6">
      <div class="item-product item-product5 text-center">
        <span class="sale-item">sale</span>
        <div class="product-thumb zoom-rotate">
          <a href="/admin/products" class="advs-thumb-link">
          {{ 'product-4' | placeholder_svg_tag: 'placeholder-svg' }}
          </a>
          <a href="/admin/products" class="quickview-link"><i class="fas fa-eye"></i></a>
          <div class="product-extra-link clearfix">
            <a href="/admin/products" class="addcart-link pull-left"><span>Add to cart</span></a>
            <a href="/admin/products" class="wishlist-link pull-right"><i class="far fa-heart"></i></a>
          </div>
        </div>
        <div class="product-price">
          <del>$96.00</del>
          <ins class="font-bold color">$69.00</ins>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="item-product item-product5 text-center">
        <span class="sale-item">sale</span>
        <div class="product-thumb zoom-rotate">
          <a href="/admin/products" class="advs-thumb-link">
          {{ 'product-5' | placeholder_svg_tag: 'placeholder-svg' }}
          </a>
          <a href="/admin/products" class="quickview-link"><i class="fas fa-eye"></i></a>
          <div class="product-extra-link clearfix">
            <a href="/admin/products" class="addcart-link pull-left"><span>Add to cart</span></a>
            <a href="/admin/products" class="wishlist-link pull-right"><i class="far fa-heart"></i></a>
          </div>
        </div>
        <div class="product-price">
          <del>$96.00</del>
          <ins class="font-bold color">$69.00</ins>
        </div>
      </div>
    </div>
  </div>
  <div class="item-product item-product5 text-center">
    <span class="sale-item">sale</span>
    <div class="product-thumb zoom-rotate">
      <a href="/admin/products" class="advs-thumb-link">
      {{ 'product-6' | placeholder_svg_tag: 'placeholder-svg' }}
      </a>
      <a href="/admin/products" class="quickview-link"><i class="fas fa-eye"></i></a>
      <div class="product-extra-link clearfix">
        <a href="/admin/products" class="addcart-link pull-left"><span>Add to cart</span></a>
        <a href="/admin/products" class="wishlist-link pull-right"><i class="far fa-heart"></i></a>
      </div>
    </div>
    <div class="product-price">
      <del>$96.00</del>
      <ins class="font-bold color">$69.00</ins>
    </div>
  </div>
</div>