<header id="header">
  <div class="header">  
    <div class="main-header main-header-2 ">
      <div class="container">
        <div class="row">
          {% if settings.enable_hdv2_topbar %}
          <div class="col-md-4 hidden-sm">
            <div class="call-us call-us2">
              <span class="text-uppercase title12"><i class="{{settings.hdv2_topbar_phone_icon}}"></i>{{settings.hdv2_topbar_phone_content}}</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="logo logo2 text-center">
              <a href="/" class="color title30 text-uppercase rale-font link-hover" style="display: block; margin: 0 auto; width: {{settings.hdv2_logo_maxwidth}}px;">
                {% if settings.hdv2_logo != blank %}
                <img src="{{settings.hdv2_logo|img_url:'master'}}">
                {% else %}
                {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-8">
            <ul class="list-inline-block pull-right box-search-cart box-search-cart2">
              <li>
                <div class="search-box">
                  <a href="/search" class="text-uppercase title12 link-hover"><i class="{{section.settings.header_search_icon}}"></i>{{settings.hdv2_topbar_search_title}}</a>
                  <form class="search-form clearfix" action="/search">
                    <input type="hidden" name="type" value="product">
                    <input type="text" placeholder="Search" name="q" value="{{ search.terms | escape }}"/>
                    <div class="submit bg-color text-center">
                      <input type="submit" value="">
                    </div>	
                  </form>
                </div>
              </li>
              <li>
                <a href="/account" class="text-uppercase title12 link-hover"><i class="{{section.settings.header_account_icon}}"></i> {{settings.hdv2_topbar_account_title}}</a>
              </li>
              <li>
                <div class="mini-cart-box aside-box style-mini-cart">
                  <div class="mini-cart-link">
                    <a class="link-hover text-uppercase title12 mini-cart-icon" href="/cart"><i class="{{section.settings.header_cart_icon}}"></i>{{settings.hdv2_topbar_cart_title}}</a>
                  </div>
                  {% include 'mini-cart' %}
                </div>
              </li>
            </ul>
          </div>
          {% endif %}
          <div class="col-md-12 col-sm-12">
            <nav class="main-nav main-nav-2 text-center">
              {% include 'menu' %}
              <a href="#" class="toggle-mobile-menu"><span></span></a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>