<header id="header">
  <div class="header">  
    {% if settings.enable_hdv7_topbar %}
    <div class="sub-header sub-header8 white">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="new-event new-event8">
              <h3 class="title12"><span class="icon-event color"><i class="{{settings.hdv7_topbar_text_icon}}"></i></span>{{settings.hdv7_topbar_text_content}}</h3>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="call-us call-us8 text-right">
              <span class="text-uppercase title12"><i class="{{settings.hdv7_topbar_phone_icon}}"></i>{{settings.hdv7_topbar_phone_content}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="main-header main-header8">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <div class="logo logo8">
              <a href="/" class="white title30 text-uppercase rale-font link-hover" style="display: block; width: {{settings.hdv1_logo_maxwidth}}px;">
                {% if settings.hdv7_logo != blank %}
                <img src="{{settings.hdv7_logo|img_url:'master'}}">
                {% else %}
                {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="search-box6 search-box8 pull-right">
              <form class="search-form6 search-form8 clearfix" action="/search">
                <input type="hidden" name="type" value="product">
                <input type="text" placeholder="Search..." name="q" value="{{ search.terms | escape }}"/>
                <div class="submit6 bg-color text-center text-uppercase white">
                  <input type="submit" value="{{settings.hdv7_topbar_search_title}}">
                </div>	
              </form>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <ul class="list-inline-block pull-right box-search-cart box-search-cart8">
              <li>
                <a href="/account" class="text-uppercase title12 link-hover white"><i class="{{section.settings.header_account_icon}}"></i>{{settings.hdv7_topbar_account_title}}</a>
              </li>
              <li>
                <div class="mini-cart-box aside-box style-mini-cart">
                  <div class="mini-cart-link">
                    <a class="link-hover text-uppercase title12 mini-cart-icon white" href="/cart"><i class="{{section.settings.header_cart_icon}}"></i>{{settings.hdv7_topbar_cart_title}}</a>
                  </div>
                  {% include 'mini-cart' %}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <nav class="main-nav main-nav8 text-center">
        {% include 'menu' %}
        <a href="#" class="toggle-mobile-menu"><span></span></a>
      </nav>
    </div>
  </div>
</header>