<!-- /templates/customers/login.liquid -->
<div>
  <div class="content-pages woocommerce">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title-shop-page dark font-bold dosis-font">{{page.title}}</h2>
          <div class="register-content-box">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12 col-centered">
                <div class="check-billing">
                  <div class="form-my-account">
                    <div id="CustomerLoginForm">
                    {% form 'customer_login' %}
                    {{ form.errors | default_errors }}
                    <div class="block-login">
                      <h2 class="title24 title-form-account mar-bottom-30">{{ 'customer.login.title' | t }}</h2>
                      <p class="mar-bottom-15">
                        <label>{{ 'customer.login.email' | t }} <span class="required">*</span></label>
                        <input class="form-control" type="email" name="customer[email]" />
                      </p>
                      {% if form.password_needed %}
                      <p class="mar-bottom-15">
                        <label>{{ 'customer.login.password' | t }} <span class="required">*</span></label>
                        <input class="form-control" type="password" name="customer[password]" />
                      </p>
                      {% endif %}
                      <div class="table-custom create-account mar-bottom-30">
                        <div class="text-left">
                          <p>
                            {% if form.password_needed %}
                            <a href="#recover" id="RecoverPassword" class="color">{{ 'customer.login.forgot_password' | t }}</a> - 
                            {% endif %}
                            <a class="color" href="/account/register">{{ 'customer.login.register' | t }}</a>
                          </p>
                        </div>
                      </div>
                      <p>
                        <input class="shop-button bg-dark" type="submit" class="register-button" name="login" value="{{ 'customer.login.log_in' | t }}">
                      </p>
                    </div>
                    {% endform %}
                    </div>

                    {% form 'recover_customer_password' %}
                    {{ form.errors | default_errors }}
                    {% comment %}
                    Assign variable to be used after timber.init() is run in theme.liquid
                    {% endcomment %}
                    {% if form.posted_successfully? %}
                    {% assign resetPassword = true %}
                    {% endif %}
                    <div id="RecoverPasswordForm" style="display: none;">
                      <div class="block-login">
                        <h2 class="title24 title-form-account mar-bottom-30">{{ 'customer.recover_password.title' | t }}</h2>
                        <p class="mar-bottom-15">
                          <label>Email address <span class="required">*</span></label>
                          <input class="form-control" type="email" name="customer[email]" {% if form.email %} value="{{ form.email }}"{% endif %} />
                        </p>
                      </div>
                      <p>
                        <input class="shop-button bg-dark" type="submit" class="register-button" value="{{ 'customer.recover_password.submit' | t }}"> or <a id="HideRecoverPasswordLink" style="cursor: pointer;" class="color">{{ 'customer.recover_password.cancel' | t }}</a>
                      </p>
                    </div>
                    {% endform %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          {% comment %}
          If accounts are set as optional, the following will be shown as an option
          during checkout, not on the default /login page.
          {% endcomment %}
          {% if shop.checkout.guest_login %}
          <hr>
          <h2>{{ 'customer.login.guest_title' | t }}</h2>
          {% form 'guest_login' %}
          <div class="form-my-account">
          <input class="shop-button bg-dark" type="submit" class="register-button" value="{{ 'customer.login.guest_continue' | t }}">
          </div>
          {% endform %}
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
  <!-- End Content Page -->
</div>
