<!-- /templates/customers/register.liquid -->
<div>
  <div class="content-pages woocommerce">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title-shop-page dark font-bold dosis-font">{{page.title}}</h2>
          <div class="register-content-box">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12 col-centered">
                <div class="check-billing">
                  <div class="form-my-account">
                    
                    {% form 'create_customer' %}
                    {{ form.errors | default_errors }}
                    <div class="block-register">
                      <h2 class="title24 title-form-account mar-bottom-30">{{ 'customer.register.title' | t }}</h2>
                      <p class="mar-bottom-15">
                        <label>{{ 'customer.register.first_name' | t }} <span class="required">*</span></label>
                        <input class="form-control" type="text" name="customer[first_name]" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} />
                      </p>
                      <p class="mar-bottom-15">
                        <label>{{ 'customer.register.email' | t }} <span class="required">*</span></label>
                        <input class="form-control" type="email" name="customer[email]" {% if form.email %} value="{{ form.email }}"{% endif %} />
                      </p>
                      <p class="mar-bottom-15">
                        <label>{{ 'customer.register.password' | t }} <span class="required">*</span></label>
                        <input class="form-control" type="password" name="customer[password]" />
                      </p>
                      
                      <div class="table-custom create-account mar-bottom-30">
                        <div class="text-left">
                          <p>
                            <a class="color" href="/account/login">{{ 'customer.register.login' | t }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <p>
                      <input class="shop-button bg-dark" type="submit" class="register-button" name="register" value="{{ 'customer.register.submit' | t }}">
                    </p>
                    {% endform %}

                  </div>
                </div>
              </div>
            </div>
          </div>
          
          {% comment %}
          If accounts are set as optional, the following will be shown as an option
          during checkout, not on the default /login page.
          {% endcomment %}
          {% if shop.checkout.guest_login %}
          <hr>
          <h2>{{ 'customer.login.guest_title' | t }}</h2>
          {% form 'guest_login' %}
          <div class="form-my-account">
          <input class="shop-button bg-dark" type="submit" class="register-button" value="{{ 'customer.login.guest_continue' | t }}">
          </div>
          {% endform %}
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
  <!-- End Content Page -->
</div>
