<!-- /sections/footer.liquid -->
{% if section.settings.ins_enable %}
<div class="box-instagram">
  
  {% assign instafeed_img = '{{image}}' %}
  {% assign instafeed_link = '{{link}}' %}

  {% if section.settings.ins_userid != blank and section.settings.ins_access_token != blank %}
  <script>
    jQuery(document).ready(function($) {
      var feed = new Instafeed({
        get: 'user',
        userId: '{{section.settings.ins_userid}}',
        accessToken: '{{section.settings.ins_access_token}}',
        template: '<div class="thumb-insta overlay-image"><a href="{{instafeed_link}}" class="advs-thumb-link"><img src="{{instafeed_img}}" alt="" /></a><a href="{{instafeed_link}}" class="icon-insta"><i class="fab fa-instagram"></i></a></div>'
        target: 'engoj_instagramv3',
        resolution: 'standard_resolution',
        limit: '{{section.settings.ins_limit_number}}'
      });
      feed.run();
    });
  </script>
  {% endif %}
  
  <div class="wrap-item" id="engoj_instagramv3" data-pagination="false" data-autoplay="false" data-navigation="true" data-itemscustom="[[0,3],[640,4],[767,5],[990,6],[1024,8],[1200,8],[1920,11]]">
    {% if section.settings.ins_userid == blank or section.settings.ins_access_token == blank %}
      {% if shop.permanent_domain == "moltestore-demo.myshopify.com" %}
        {% for i in (1..11) %}
        <div class="thumb-insta overlay-image">
          <a href="https://www.instagram.com/" class="advs-thumb-link">
            <img src="{{ 'engo_ins_img' | append: i | append: '.jpg' | file_img_url: 'master' }}" alt="" />
          </a>
          <a href="https://www.instagram.com/" class="icon-insta"><i class="fab fa-instagram"></i></a>
        </div>
        {% endfor %}
      {% else %}
        <div class="thumb-insta overlay-image">
          <a href="https://www.instagram.com/" class="advs-thumb-link">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </a>
          <a href="https://www.instagram.com/" class="icon-insta"><i class="fab fa-instagram"></i></a>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endif %}

{% if section.settings.select_fts == "footer_v1" %}
{% include 'footer-v1' %}
{% elsif section.settings.select_fts == "footer_v2" %}
{% include 'footer-v2' %}
{% endif %}

{% schema %}
{
  "name": "Footer",
  "class": "index-section",
  "settings": [
    {
      "type": "select",
      "id": "select_fts",
      "label": "Select Footer Style",
      "options": [
        {
          "value": "footer_v1",
          "label": "Footer v1"
        },
        {
          "value": "footer_v2",
          "label": "Footer v2"
        }
      ],
      "default": "footer_v1"
    },
    {
      "type": "header",
      "content": "Instagram"
    },
    {
      "type": "checkbox",
      "id": "ins_enable",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "text",
      "id": "ins_userid",
      "label": "User ID Instagram",
      "default": "3672948962"
    },
    {
      "type": "text",
      "id": "ins_access_token",
      "label": "Access Token Instagram",
      "default": "3672948962.0f64772.430edb7f711e4665b59777c54d1ed9ce"
    },
    {
      "type": "text",
      "id": "ins_limit_number",
      "label": "Limit Image",
      "default": "12"
    }
  ]
}
{% endschema %}