<!-- /sections/header.liquid -->

{% if template contains 'index' %}
  {% if section.settings.select_hds == "header_v1" %}
  {% include 'header-v1' %}
  {% elsif section.settings.select_hds == "header_v2" %}
  {% include 'header-v2' %}
  {% elsif section.settings.select_hds == "header_v3" %}
  {% include 'header-v3' %}
  {% elsif section.settings.select_hds == "header_v4" %}
  {% include 'header-v4' %}
  {% elsif section.settings.select_hds == "header_v5" %}
  {% include 'header-v5' %}
  {% elsif section.settings.select_hds == "header_v6" %}
  {% include 'header-v6' %}
  {% elsif section.settings.select_hds == "header_v7" %}
  {% include 'header-v7' %}
  {% elsif section.settings.select_hds == "header_v8" %}
  {% include 'header-v8' %}
  {% elsif section.settings.select_hds == "header_v9" %}
  {% include 'header-v9' %}
  {% elsif section.settings.select_hds == "header_v10" %}
  {% include 'header-v10' %}
  {% endif %}
{% else %}
  {% if section.settings.select_hds_all == "header_ver1" %}
  {% include 'header-v1' %}
  {% elsif section.settings.select_hds_all == "header_ver2" %}
  {% include 'header-v2' %}
  {% elsif section.settings.select_hds_all == "header_ver3" %}
  {% include 'header-v3' %}
  {% elsif section.settings.select_hds_all == "header_ver4" %}
  {% include 'header-v4' %}
  {% elsif section.settings.select_hds_all == "header_ver5" %}
  {% include 'header-v5' %}
  {% elsif section.settings.select_hds_all == "header_ver6" %}
  {% include 'header-v6' %}
  {% elsif section.settings.select_hds_all == "header_ver7" %}
  {% include 'header-v7' %}
  {% elsif section.settings.select_hds_all == "header_ver8" %}
  {% include 'header-v8' %}
  {% elsif section.settings.select_hds_all == "header_ver9" %}
  {% include 'header-v9' %}
  {% elsif section.settings.select_hds_all == "header_ver10" %}
  {% include 'header-v10' %}
  {% endif %}
{% endif %}

{% if section.settings.enable_service_box %}

  {% if section.settings.enable_it_in_the == "homepage" %}
    {% if template contains 'index' %}
    <div class="{% if section.settings.select_service_box_layout == "normal" %}container{% else %}box-service7 box-service11 box-service-grid {% if section.settings.enable_service_box_border %}border-bottom border-top{% endif %}{% endif %}">
      <div class="{% if section.settings.select_service_box_layout == "normal" %}box-service7 box-service11 box-service-grid {% if section.settings.enable_service_box_border %}border-bottom border-top{% endif %}{% else %}container{% endif %}">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item-service item-service7 item-service11 table">
              <div class="icon-service icon-service7">
                <a href="{{section.settings.sb_url1}}" class=" title30 color"><i class="{{section.settings.sb_icon1}}"></i></a>
              </div>	
              <div class="info-service">
                <h3 class="color title18 text-uppercase font-bold rale-font"><a href="{{section.settings.sb_url1}}" class="link-hover">{{section.settings.sb_title1}}</a></h3>
                <p>{{section.settings.sb_content1}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4"> 
            <div class="item-service item-service7 item-service11 table">
              <div class="icon-service icon-service7">
                <a href="{{section.settings.sb_url2}}" class="icon-service title30 color"><i class="{{section.settings.sb_icon2}}"></i></a>
              </div>	
              <div class="info-service">
                <h3 class="color title18 text-uppercase font-bold rale-font"><a href="{{section.settings.sb_url2}}" class="link-hover">{{section.settings.sb_title2}}</a></h3>
                <p>{{section.settings.sb_content2}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item-service item-service7 item-service11 table">
              <div class="icon-service icon-service7">
                <a href="{{section.settings.sb_url3}}" class="icon-service title30 color"><i class="{{section.settings.sb_icon3}}"></i></a>
              </div>
              <div class="info-service">
                <h3 class="color title18 text-uppercase font-bold rale-font"><a href="{{section.settings.sb_url3}}" class="link-hover">{{section.settings.sb_title3}}</a></h3>
                <p>{{section.settings.sb_content3}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  {% elsif section.settings.enable_it_in_the == "allpage" %}
    <div class="{% if section.settings.select_service_box_layout == "normal" %}container{% else %}box-service7 box-service11 box-service-grid {% if section.settings.enable_service_box_border %}border-bottom border-top{% endif %}{% endif %}">
      <div class="{% if section.settings.select_service_box_layout == "normal" %}box-service7 box-service11 box-service-grid {% if section.settings.enable_service_box_border %}border-bottom border-top{% endif %}{% else %}container{% endif %}">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item-service item-service7 item-service11 table">
              <div class="icon-service icon-service7">
                <a href="{{section.settings.sb_url1}}" class=" title30 color"><i class="{{section.settings.sb_icon1}}"></i></a>
              </div>	
              <div class="info-service">
                <h3 class="color title18 text-uppercase font-bold rale-font"><a href="{{section.settings.sb_url1}}" class="link-hover">{{section.settings.sb_title1}}</a></h3>
                <p>{{section.settings.sb_content1}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4"> 
            <div class="item-service item-service7 item-service11 table">
              <div class="icon-service icon-service7">
                <a href="{{section.settings.sb_url2}}" class="icon-service title30 color"><i class="{{section.settings.sb_icon2}}"></i></a>
              </div>	
              <div class="info-service">
                <h3 class="color title18 text-uppercase font-bold rale-font"><a href="{{section.settings.sb_url2}}" class="link-hover">{{section.settings.sb_title2}}</a></h3>
                <p>{{section.settings.sb_content2}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item-service item-service7 item-service11 table">
              <div class="icon-service icon-service7">
                <a href="{{section.settings.sb_url3}}" class="icon-service title30 color"><i class="{{section.settings.sb_icon3}}"></i></a>
              </div>
              <div class="info-service">
                <h3 class="color title18 text-uppercase font-bold rale-font"><a href="{{section.settings.sb_url3}}" class="link-hover">{{section.settings.sb_title3}}</a></h3>
                <p>{{section.settings.sb_content3}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% elsif section.settings.enable_it_in_the == "otherpage" %}
    {% if template contains 'index' %}{% else %}
    <div class="{% if section.settings.select_service_box_layout == "normal" %}container{% else %}box-service7 box-service11 box-service-grid {% if section.settings.enable_service_box_border %}border-bottom border-top{% endif %}{% endif %}">
      <div class="{% if section.settings.select_service_box_layout == "normal" %}box-service7 box-service11 box-service-grid {% if section.settings.enable_service_box_border %}border-bottom border-top{% endif %}{% else %}container{% endif %}">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item-service item-service7 item-service11 table">
              <div class="icon-service icon-service7">
                <a href="{{section.settings.sb_url1}}" class=" title30 color"><i class="{{section.settings.sb_icon1}}"></i></a>
              </div>	
              <div class="info-service">
                <h3 class="color title18 text-uppercase font-bold rale-font"><a href="{{section.settings.sb_url1}}" class="link-hover">{{section.settings.sb_title1}}</a></h3>
                <p>{{section.settings.sb_content1}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4"> 
            <div class="item-service item-service7 item-service11 table">
              <div class="icon-service icon-service7">
                <a href="{{section.settings.sb_url2}}" class="icon-service title30 color"><i class="{{section.settings.sb_icon2}}"></i></a>
              </div>	
              <div class="info-service">
                <h3 class="color title18 text-uppercase font-bold rale-font"><a href="{{section.settings.sb_url2}}" class="link-hover">{{section.settings.sb_title2}}</a></h3>
                <p>{{section.settings.sb_content2}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item-service item-service7 item-service11 table">
              <div class="icon-service icon-service7">
                <a href="{{section.settings.sb_url3}}" class="icon-service title30 color"><i class="{{section.settings.sb_icon3}}"></i></a>
              </div>
              <div class="info-service">
                <h3 class="color title18 text-uppercase font-bold rale-font"><a href="{{section.settings.sb_url3}}" class="link-hover">{{section.settings.sb_title3}}</a></h3>
                <p>{{section.settings.sb_content3}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  {% endif %}

{% endif %}

{% schema %}
{
  "name": "Header",
  "class": "index-section",
  "settings": [
    {
      "type": "select",
      "id": "select_hds",
      "label": "Select Header Style for Homepage",
      "options": [
        {
          "value": "header_v1",
          "label": "Header v1"
        },
        {
          "value": "header_v2",
          "label": "Header v2"
        },
        {
          "value": "header_v3",
          "label": "Header v3"
        },
        {
          "value": "header_v4",
          "label": "Header v4"
        },
        {
          "value": "header_v5",
          "label": "Header v5"
        },
        {
          "value": "header_v6",
          "label": "Header v6"
        },
        {
          "value": "header_v7",
          "label": "Header v7"
        },
        {
          "value": "header_v8",
          "label": "Header v8"
        },
        {
          "value": "header_v9",
          "label": "Header v9"
        },
        {
          "value": "header_v10",
          "label": "Header v10"
        }
      ],
      "default": "header_v1"
    },
    {
      "type": "select",
      "id": "select_hds_all",
      "label": "Select Header Style for All page (unless Homepage)",
      "options": [
        {
          "value": "header_ver1",
          "label": "Header v1"
        },
        {
          "value": "header_ver2",
          "label": "Header v2"
        },
        {
          "value": "header_ver3",
          "label": "Header v3"
        },
        {
          "value": "header_ver4",
          "label": "Header v4"
        },
        {
          "value": "header_ver5",
          "label": "Header v5"
        },
        {
          "value": "header_ver6",
          "label": "Header v6"
        },
        {
          "value": "header_ver7",
          "label": "Header v7"
        },
        {
          "value": "header_ver8",
          "label": "Header v8"
        },
        {
          "value": "header_ver9",
          "label": "Header v9"
        },
        {
          "value": "header_ver10",
          "label": "Header v10"
        }
      ],
      "default": "header_ver1"
    },
    {
      "type": "header",
      "content": "Select Menu"
    },
    {
      "type": "link_list",
      "id": "main_menu_store",
      "label": "Menu Main"
    },
    {
      "type": "header",
      "content": "Header Icon"
    },
    {
      "type": "text",
      "id": "header_search_icon",
      "label": "Icon Search",
      "info": "[Get icon here](https://fontawesome.com/v4.7.0/icons/)",
      "default": "fas fa-search"
    },
    {
      "type": "text",
      "id": "header_account_icon",
      "label": "Icon Account",
      "info": "[Get icon here](https://fontawesome.com/v4.7.0/icons/)",
      "default": "fas fa-user"
    },
    {
      "type": "text",
      "id": "header_wishlist_icon",
      "label": "Icon Wishlist",
      "info": "[Get icon here](https://fontawesome.com/v4.7.0/icons/)",
      "default": "fa fa-heart-o"
    },
    {
      "type": "text",
      "id": "header_cart_icon",
      "label": "Icon Cart",
      "info": "[Get icon here](https://fontawesome.com/v4.7.0/icons/)",
      "default": "fas fa-shopping-bag"
    },
    {
      "type": "header",
      "content": "Service box"
    },
    {
      "type": "checkbox",
      "id": "enable_service_box",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "select",
      "id": "enable_it_in_the",
      "label": "Enable it in the",
      "options": [
        {
          "value": "homepage",
          "label": "Home page"
        },
        {
          "value": "allpage",
          "label": "All page"
        },
        {
          "value": "otherpage",
          "label": "All page (unless Homepage)"
        }
      ],
      "default": "otherpage"
    },
    {
      "type": "checkbox",
      "id": "enable_service_box_border",
      "label": "Enable border?",
      "default": true
    },
    {
      "type": "select",
      "id": "select_service_box_layout",
      "label": "Layout",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "fullscreen",
          "label": "Fullscreen"
        }
      ],
      "default": "normal"
    },
    {
      "type": "text",
      "id": "sb_icon1",
      "label": "Icon 1",
      "default": "fas fa-shopping-basket",
      "info": "[Get icon from here](https:\/\/fontawesome.com\/cheatsheet)"
    },
    {
      "type": "text",
      "id": "sb_title1",
      "label": "Title 1",
      "default": "FREE SHIPPING"
    },
    {
      "type": "text",
      "id": "sb_content1",
      "label": "Content 1",
      "default": "On orders over $99."
    },
    {
      "type": "url",
      "id": "sb_url1",
      "label": "URL 1",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "sb_icon2",
      "label": "Icon 2",
      "default": "fas fa-undo-alt",
      "info": "[Get icon from here](https:\/\/fontawesome.com\/cheatsheet)"
    },
    {
      "type": "text",
      "id": "sb_title2",
      "label": "Title 2",
      "default": "ORDER RETURN"
    },
    {
      "type": "text",
      "id": "sb_content2",
      "label": "Content 2",
      "default": "Returns within 7 days"
    },
    {
      "type": "url",
      "id": "sb_url2",
      "label": "URL 2",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "sb_icon3",
      "label": "Icon 3",
      "default": "fas fa-phone-volume",
      "info": "[Get icon from here](https:\/\/fontawesome.com\/cheatsheet)"
    },
    {
      "type": "text",
      "id": "sb_title3",
      "label": "Title 3",
      "default": "SUPPORT 24/7"
    },
    {
      "type": "text",
      "id": "sb_content3",
      "label": "Content 3",
      "default": "Online support services"
    },
    {
      "type": "url",
      "id": "sb_url3",
      "label": "URL 3",
      "default": "/collections/all"
    }
  ]
}
{% endschema %}
