<div data-section-id="{{ section.id }}" data-section-type="section-latest-post-v2" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="container">
    <div class="our-blog our-blog3 text-center">
      <div class="title-box title-box-type2">
        {% if section.settings.section_heading != blank %}
        <h3 class="title100 rale-font">{{section.settings.section_heading}}</h3>
        {% endif %}

        {% if section.settings.section_sub_heading != blank %}
        <h3 class="title36 rale-font text-uppercase">{{section.settings.section_sub_heading}}</h3>
        {% endif %}

        {% if section.settings.section_des != blank %}
        <h3 class="title14 text-uppercase font-bold">{{section.settings.section_des}}</h3>
        {% endif %}

      </div>
      <div class="row">
        {%- assign blog_selected = section.settings.select_blog -%}
        {%- assign posts_limit = section.settings.blogs_limit -%}
        {% for article in blogs[blog_selected].articles limit: posts_limit %}
        <div class="col-md-4 col-sm-4">
          <div class="post-item">
            <div class="post-thumb zoom-rotate overlay-image">
              <a href="{{ article.url }}" class="advs-thumb-link">
                <img src="{{ article.image.src | img_url: 'original' }}" alt="{{ article.title }}" />
              </a>
            </div>
            <div class="post-info text-left">
              <h3 class="title18 post-name font-bold border-bottom"><a href="{{ article.url }}" class="link-hover">{{ article.title }}</a></h3>
              <ul class="list-inline-block post-date">
                {% if section.settings.enable_info %}
                <li><span class="font-bold title12">{{article.published_at | date: "%b %d, %Y" }}</span></li>
                <li><a href="{{ article.url }}/comments" class="font-bold"><i class="far fa-comment"></i>{{article.comments_count}}</a></li>
                {% endif %}
              </ul>

              {% if section.settings.enable_info %}
              <p class="desc">{{ article.content | strip_html | truncatewords: 22}}</p>
              {% endif %}

              {% if section.settings.enable_social_share %}
              {% include 'social-share' %}
              {% endif %}
            </div>
          </div>
        </div>
        {% else %}

        {% for i in (1..3) %}
        <div class="col-md-4 col-sm-4">
          <div class="post-item">
            <div class="post-thumb zoom-rotate overlay-image">
              <a href="/admin/articles" class="advs-thumb-link">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </a>
            </div>
            <div class="post-info text-left">
              <h3 class="title18 post-name font-bold border-bottom"><a href="#" class="link-hover">Example blog post</a></h3>
              <ul class="list-inline-block post-date">
                {% if section.settings.enable_info %}
                <li><span class="font-bold title12">{{ 'now' | date: "%b %d, %Y" }}</span></li>
                <li><a href="/admin/articles" class="font-bold"><i class="far fa-comment"></i>5</a></li>
                {% endif %}
              </ul>

              {% if section.settings.enable_info %}
              <p class="desc">Your store hasn’t published any blog posts yet. Blogging is a great way to build your audience and generate more traffic and sales for your business.</p>
              {% endif %}

              {% if section.settings.enable_social_share %}
              <ul class="list-inline-block social-box">
                <li><a href="/admin/articles" class="wobble-bottom"><i class="far fa-heart"></i></a></li>
                <li><a href="/admin/articles" class="wobble-bottom"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="/admin/articles" class="wobble-bottom"><i class="fab fa-twitter"></i></a></li>
                <li><a href="/admin/articles" class="wobble-bottom"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a href="/admin/articles" class="wobble-bottom"><i class="fab fa-google-plus-g"></i></a></li>
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}

        {% endfor %}
      </div>

      {% if section.settings.button_name %}
      <a href="{{blogs[blog_selected].url}}" class="shop-button bg-color hover-btn white">{{section.settings.button_name}}</a>
      {% endif %}
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Latest post v2",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Heading",
      "default": "03"
    },
    {
      "type": "text",
      "id": "section_sub_heading",
      "label": "Sub heading",
      "default": "from our blog"
    },
    {
      "type": "text",
      "id": "section_des",
      "label": "Description",
      "default": "timely update fashion trends of the world"
    },
    {
      "type": "header",
      "content": "Config"
    },
    {
      "type": "blog",
      "id": "select_blog",
      "label": "Select Blog"
    },
    {
      "type": "range",
      "id": "blogs_limit",
      "label": "Limit blogs",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "enable_info",
      "label": "Show info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_description",
      "label": "Show description",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_social_share",
      "label": "Show social share",
      "default": true
    },
    {
      "type": "text",
      "id": "button_name",
      "label": "Button name",
      "default": "View all blog"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "Latest post v2",
      "category": "Blog"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
