<div data-section-id="{{ section.id }}" data-section-type="section-product-v2" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="box-deal bg-white">
    <div class="container">
      <div class="title-box">
        {% if section.settings.section_heading != blank %}
        <h3 class="title12 text-uppercase">{{section.settings.section_heading}}</h3>
        {% endif %}
        
        {% if section.settings.section_sub_heading != blank %}
        <h2 class="title30 text-uppercase rale-font"><span>{{section.settings.section_sub_heading}}</span></h2>
        {% endif %}
        
        {% if section.settings.section_des != blank %}
        <h3 class="title14 text-uppercase font-bold">{{section.settings.section_des}}</h3>
        {% endif %}
      </div>
      
      <div class="wrap-item" data-pagination="false" data-autoplay="false" data-navigation="true" data-itemscustom="[[0,1]]">

        {% assign products_limit = section.settings.products_limit %}
        {% assign col = section.settings.select_collection %}
        
        {% assign mod = products_limit | modulo: 4 %}
        
        {% if mod == 0 %}
          {% for product in collections[col].products limit: products_limit %} 
            {% assign mod_for = forloop.index | modulo: 4 %}
            {% if mod_for == 0 %}
                <div class="col-md-6 col-sm-6">
                {% include 'product-item-deal' %}
                </div>
              </div>
            </div>
            {% elsif mod_for == 1 %}
              <div class="item-deal">
                <div class="engoc-row-equal">
                  <div class="col-md-6 col-sm-6">
                  {% include 'product-item-deal' %}
                  </div>
              {% if forloop.last %}
                </div>
              </div>
              {% endif %}
            {% elsif mod_for == 2 or mod_for == 3 %}
                  <div class="col-md-6 col-sm-6">
                  {% include 'product-item-deal' %}
                  </div>
              {% if forloop.last %}
                </div>
              </div>
              {% endif %}
    
            {% endif %}
                    
          {% else %}
             {% assign empty_limits = products_limit | divided_by: 4 %}
             {% for i in (1..empty_limits) %}
             {% include 'empty-product-item-deal' %}
             {% endfor %}
                    
          {% endfor %}
                    
        {% else %}     
          {% for product in collections[col].products limit: products_limit %} 
            {% assign mod_for = forloop.index | modulo: 4 %}
            {% if mod_for == 0 %}
                <div class="col-md-6 col-sm-6">
                {% include 'product-item-deal' %}
                </div>
              </div>
            </div>
            {% elsif mod_for == 1 %}
              <div class="item-deal">
                <div class="engoc-row-equal">
                  <div class="col-md-6 col-sm-6">
                  {% include 'product-item-deal' %}
                  </div>
              {% if forloop.last %}
                </div>
              </div>
              {% endif %}
            {% elsif mod_for == 2 or mod_for == 3 %}
                  <div class="col-md-6 col-sm-6">
                  {% include 'product-item-deal' %}
                  </div>
              {% if forloop.last %}
                </div>
              </div>
              {% endif %}
            {% endif %}
                    
          {% else %}
             {% assign empty_limits = products_limit | divided_by: 4 | round | plus: 1 %}
             {% for i in (1..empty_limits) %}
             {% include 'empty-product-item-deal' %}
             {% endfor %}
                    
          {% endfor %}
                    
          
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product v2",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Heading",
      "default": "m o l t e s t o r e"
    },
    {
      "type": "text",
      "id": "section_sub_heading",
      "label": "Sub heading",
      "default": "DAILY DEALS"
    },
    {
      "type": "text",
      "id": "section_des",
      "label": "Description",
      "default": "CHECK OUT OUR LOVING PRODUCTS TODAY"
    },
    {
      "type": "header",
      "content": "Config"
    },
    {
      "type": "collection",
      "id": "select_collection",
      "label": "Select Collection"
    },
    {
      "type": "range",
      "id": "products_limit",
      "label": "Limit products",
      "min": 1,
      "max": 50,
      "step": 1,
      "default": 8
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "Product v2",
      "category": "Product"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
