<div data-section-id="{{ section.id }}" data-section-type="section-banner-v7" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="container">
    <div class="banner-featured banner-featured5">
      <div class="wrap-banner-featured">
        <div class="row">
          {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
          {% if block.type == "banner" %}
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="item-banner">
              <div class="banner-thumb zoom-image">
                <a href="{{block.settings.block_url}}" class="advs-thumb-link">
                  {% if block.settings.block_img != blank %}
                  {{ block.settings.block_img | img_url:'master' | img_tag: block.settings.block_sub_heading, 'img-responsive' }}
                  {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
                </a>
              </div>
              <div class="banner-info text-center">
                {% if block.settings.block_heading != blank %}
                <h3 class="title24 dark rale-font font-bold text-uppercase">{{block.settings.block_heading}}</h3>
                {% endif %}
                
                {% if block.settings.block_sub_heading != blank %}
                <h3 class="title36 text-uppercase">{{block.settings.block_sub_heading}}</h3>
                {% endif %}
                
                {% if block.settings.block_btn_name != blank %}
                <a href="{{block.settings.block_url}}" class="shop-button hover-btn bg-color white">{{block.settings.block_btn_name}}</a>
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
</div>

{% schema %}
{
  "name": "Banner v7",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_img",
          "label": "Image",
          "info": "580 x 700px recommended"
        },
        {
          "type": "url",
          "id": "block_url",
          "label": "URL",
          "default": "/collections/all"
        },
        {
          "type": "text",
          "id": "block_heading",
          "label": "Heading",
          "default": "MEN’S FASHION"
        },
        {
          "type": "text",
          "id": "block_sub_heading",
          "label": "Sub heading",
          "default": "COLLECTION"
        },
        {
          "type": "text",
          "id": "block_btn_name",
          "label": "Button name",
          "default": "shop now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner v7",
      "category": "Image",
      "blocks": [
        {
          "type": "banner",
          "settings": {
          }
        },
        {
          "type": "banner",
          "settings": {
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
