<div class="container text-center mt-15">
  <div class="row">
    <div class="col-sm-6 col-centered">
      <p>
        {% if settings.password_img != blank %}
        <img src="{{settings.password_img|img_url:'master'}}" alt="logo">
        {% else %}
        <img src="//placehold.it/185x50" alt="logo">
        {% endif %}
      </p>
      {% unless shop.password_message == blank %}
      <p>{{ shop.password_message }}</p>
      {% endunless %}

      {% form 'customer' %}

      {% if form.posted_successfully? %}
      <p>{{ 'general.password_page.signup_form_success' | t }}</p>
      {% else %}
      <h1>{{ 'general.password_page.opening_soon' | t }}</h1>

      <h5>{{ 'general.password_page.signup_form_heading' | t }}</h5>
      <div class="form-group mar-bottom-20">
        {{ form.errors | default_errors }}
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <p class="mar-bottom-20">
        <label for="email">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        <input class="border" type="email" name="contact[email]" id="email" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
        </p>
        <input type="submit" value="{{ 'general.password_page.signup_form_submit' | t }}" class="shop-button bg-dark mt-15">
      </div>
      {% endif %}

      {% endform %}

      <p class="mar-bottom-30">{{ 'general.password_page.powered_by_shopify_html' | t }}</p>

      {% form 'storefront_password' %}
      <h5>{{ 'general.password_page.login_form_heading' | t }}</h5>
      <div class="form-group contact-form">
        {{ form.errors | default_errors }}
        <p class="mar-bottom-20">
        <label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
        <input class="border" type="password" name="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
        </p>
        <input type="submit" value="{{ 'general.password_page.login_form_submit' | t }}" class="shop-button bg-dark mt-15">
      </div>
      {% endform %}

      <p>{{ 'general.password_page.admin_link_html' | t }}</p>
    </div>
  </div>
</div>

<style>
  header, footer {display: none;}
</style>